body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
pre{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.div{
    text-align: center;
}

.title{
    width: 23%;
    display: block;
    margin: 120px auto 20px;
    width: 450px;
    height: auto;
    margin-bottom: 0;
    margin-top: 10px;

}

input{
    box-sizing: border-box;
    display:block;
    border-radius: 24px;
    border: 1px solid #DFE1E5;
    height: 40px;
    margin: 0 auto 29px;
    width: 45%;
    padding-left: 30px;
}

button{
    box-sizing: border-box;
    margin-top: 0;
    padding: 0 16px;
    font-size:  15px;
    height: 38px;
    background-color: #F8F9FA;
    border:1px solid #F8F9FA ;
}

button:hover,
pre:hover,
dots:hover,
profile:hover{
    cursor: pointer;
}

.dots{
    position: absolute;
    width: 30px;
    top: 1%;
    margin-left: 0px;
}

.profile{
    position: absolute;
    width: 35px;
    top: 1%;
    margin-left: 25px;
}