body{
    margin: 0;
    padding: 0;
    text-align: center;
}

img{
    width: 50%;
    display: block;
    margin: 100px auto 20px;
}

input{
    box-sizing: border-box;
    display:block;
    border-radius: 24px;
    border: 1px solid #DFE1E5;
    height: 45px;
    margin: 0 auto 29px;
    width: 90%;
    padding-left: 30px;
}

button{
    box-sizing: border-box;
    margin-top: 0;
    padding: 0 16px;
    font-size:  15px;
    height: 38px;
    background-color: #F8F9FA;
    border:1px solid #F8F9FA ;
}





